.w-60 {
    width: 60% !important;
}

.mt-40 {
    margin-top: 40px !important;
}

.border-0 {
    border: 0px solid white !important;
}

.ft-13 {
    font-size: 13px !important;
}

.ft-12 {
    font-size: 12px !important;
}

.bg-thead {
    background-color: #bfbfbf !important;
}

.bg-stats {
    background-color:#cfcfcf !important;
}

.fw-900 {
    font-weight: 900 !important;
}
